@require '../setup'

.video
  video
    width 100%
    height 100%

.video,
.register-form
  background $black

.register-form
  form
    color $white
    padding 2rem

  h5
    border-bottom 1px solid $white
    padding-bottom 1rem

  input
    background $white
    margin-bottom 2rem

  button
    width 100%
    background $darkGrey
    border-color $darkGrey

  button:hover
    background $grey


.features
  padding 5rem 0

  .icon
    margin-right 1rem

  .column
    padding 3rem

  .column + .column
    border-left 1px solid $grey

.follow-us
  padding 3rem 0

  h3
    margin-bottom 0

  .social-media
    margin-top 1.5rem

.downloads
  padding 5rem 0

  .logo
    margin-right 3.5rem
    float left
    width 20rem

  .text,
  .stores
    margin-top 3.5rem
