@require '../setup'

body
  background url('../images/bg-login.jpg') center
  background-color $black

.login-form
  background $white
  text-align center
  margin 10rem auto
  max-width 70rem
  padding 5rem
  border-radius 1rem

  button
    width 100%

.site-footer
  position absolute
  bottom 0
  width 100%
